ul.list {
    display: block;
    padding-left: 0;
    margin: 0 0 8px;
}

ul.list > li {
    display: flex;
    align-items: center;
    padding: 6px 16px;
}

ul.list > li:hover {
    background: rgba(22, 125, 255, 0.07);
}

ul.list > li .statusCheckbox {
    width: 14px;
    height: 14px;
    min-width: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
}

ul.list > li .input {
    border: none;
    background: none;
    color: #0c0c0d;
    outline: none;
    margin-right: 8px;
    flex: 1 1;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
}

ul.list > li .input::placeholder {
    color: rgba(128, 128, 128, 0.75);
}

ul.list > li.completedTask .input {
    color: rgb(128, 128, 128);
}

ul.list > li.completedTask .input::placeholder {
    color: rgba(128, 128, 128, 0.5);
}

ul.list > li .actions {
    width: 20px;
    display: flex;
    flex-direction: row-reverse;
}

ul.list > li .removeButton {
    display: none;
    background: none;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
}

ul.list > li .removeButton img {
    width: 100%;
}

ul.list > li:hover .removeButton {
    display: block;
}
