.App {
  max-width: 600px;
}

.header {
  background-color: white;
  font-size: 15px;
  color: #0c0c0d;
  box-shadow: 0 8px 16px 0 rgb(12 40 97 / 5%);
  padding: 16px 32px;
}

.headerSubLine {
  display: flex;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  color: rgb(12, 12, 13);
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(12, 12, 13);
}

.author {
  font-size: 15px;
  color: rgb(143, 148, 153);
  margin-right: 16px;
}

.author > span {
  color: rgb(85, 121, 167);
  margin-left: 8px;
}

.content {
  padding: 16px 32px;
}

.tasksSection {
  margin-bottom: 16px;
}

.addNewButton {
  border: none;
  color: #5579a7;
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 15px;
  padding: 2px 16px;
}
